fastapi
flask
uvicorn
google-cloud-firestore
google-cloud-pubsub
google-cloud-aiplatform
google-cloud-storage
google-cloud-secret-manager
requests
pydantic
vertexai
faiss-cpu
numpy
python-dotenv
PyGithub>=1.58
schedule>=1.1.9
pytest